h1 {
    color: #414165;
}

h1.victory {
    color: #31ade8;
}

h1.draw {
    color: #160986;
}

h1.defeat {
    color: #d0451b;
}

p {
    color: #565a88;
}

.mainContainer {
    background-color: #e7edefa6;
    height: 500px;
    width: 700px;
    text-align: center;
    padding: 5px;
    position: absolute;
    left: 50%;
    margin-left: -350px;
    top: 50%;
    margin-top: -250px;
}

.clickerButton {
    color: white;
    background-color: #008CBA;
    border-radius: 12px;
    height: 40px;
    width: 250px;
    position: center;
    margin: 5px;
}

.clickerButton:hover {
    background-color: #0179a0;
}

.clickerButton:active {
    position: relative;
    top: 1px;
}

.resetButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow: inset 0px 1px 0px 0px #cf866c;
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background: -moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background: -webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background: -o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background: -ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315', GradientType=0);
    background-color: #d0451b;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #942911;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 8px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
}

.resetButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background: -moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: -webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: -o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: -ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b', GradientType=0);
    background-color: #bc3315;
}

.resetButton:active {
    position: relative;
    top: 1px;
}

.pewContainer {
    height: 200px;
    width: 650px;
    margin: 10px auto auto auto;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
    background-color: #f6f6f6;
    border: 1px solid #dcdcdc;
    overflow-wrap: break-word;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    vertical-align: 50%;
}